        body,
        html {
            background-color: #fffafa;
            background-image: url(./img/pozadina.svg);
            background-repeat: no-repeat;
            background-position: top;
        }
        
        .title-container {
            text-align: center;
            font-family: 'Cinzel', serif;
            padding-top: 5%;
        }
        
        #headline {
            font-style: bold;
            color: rgb(255, 255, 255);
            letter-spacing: 1rem;
        }
        
        .storyHeadline {
            color: tomato;
        }
        
        #logoHeadline {
            color: white;
            padding-top: 2%;
        }
        
        .spanYU {
            color: tomato;
        }
        /*Section2*/
        
        .ourWineContainer {
            padding-top: 5%;
            padding-bottom: 10%;
            text-align: center;
        }
        
        h4 {
            font-family: 'Cinzel', serif;
        }
        
        .headline2 {
            font-family: 'Cinzel', serif;
            padding-bottom: 5%;
        }
        
        a {
            text-decoration: none;
            color: black;
        }
        
        a:hover {
            color: green;
        }
        
        h5:hover {
            font-size: 1.5rem;
            transition-duration: 5s;
            transition-delay: 0.1s;
        }
        
        .ourWineImg {
            width: 80%;
            height: auto;
        }
        
        .ourWineImg:hover {
            width: 90%;
            transition-duration: 5s;
        }
        /*SECTION3 PROMO WINE*/
        
        .carousel-caption {
            background: rgba(27, 27, 27, 0.856);
            font-family: 'Cinzel', serif;
        }
        
        .slideContainer {
            padding-bottom: 15%;
        }
        /*footer*/
        
        .footer {
            text-align: center;
            padding: 20px;
            background: rgb(17, 17, 17);
            color: rgb(109, 103, 103);
            padding-bottom: 5%;
        }
        
        .footerh6 {
            padding-bottom: 2%;
        }
        
        @media(max-width: 700px) {
            #logoHeadline {
                color: black;
                font-size: 0.5rem;
            }
        }